<%- include('../includes/header.ejs')  %>

    <h1>404 Ops!!!</h1>
    <h3>You can't find anything here... </h3>
    <p>Use navigators above to get arounnd...</p>
    
<%- include('../includes/footer.ejs')  %>