<!-- @format -->

<%- include('../includes/header.ejs') %>

<main id="home-page">
  <!-- Showcase -->
  <section class="showcase">
    <div class="row showcase-row">
      <div class="col showcase-col">
        <h2>
          <span class="logo-A showcase-A">A</span>ndo
          <span class="logo-A showcase-A">Studio</span>
        </h2>
        <h3>Where tech questions most likely answered.</h3>
      </div>
    </div>
  </section>

  <section class="frontpage-info">
    <div class="row frontpage-info-row">
      <div class="col frontpage-info-col1">
        <div class="andy-card">
          <div class="andy-card-title">
            <h2>Brief about me</h2>
          </div>
          <div class="andy-card-body">
            <img src="/imgs/pics/andy-1.jpg" alt="Picture of Andy" />
          </div>
          <div class="andy-card-info">
            <p>
              My name is Anderson Omoragbon, I am the author of this website.
              <span
                >This is little introduction about me and I hope to see you on
                the about page.</span
              >
            </p>
          </div>
        </div>
      </div>
      <div class="col frontpage-info-col2">
        <div class="andy-card">
          <div class="andy-card-title">
            <h2>Digital Realm</h2>
          </div>
          <div class="andy-card-info">
            <p>
              Explore the realm of cybersecurity with Anderson Omoragbon, a
              passionate specialist and student in this dynamic field. Discover
              insights, tips, and expert guidance to fortify your digital
              presence and safeguard against potential threats. Join us on a
              journey to secure a safer digital future.
            </p>
          </div>
        </div>
      </div>
    </div>
    <aside></aside>
  </section>
</main>

<%- include('../includes/footer.ejs') %>
