<!-- @format -->

<%- include('../includes/header.ejs') %>

<main id="about-page">
  <section class="about-info">
    <div class="row about-row">
      <div class="col about-col1">
        <div class="about-card">
          <div class="about-title resume-title" id="resume-cover">
            <a href="#resume-section">
              <h2>Resume</h2>
            </a>
          </div>

          <div class="about-paragraph">
            <div class="resume-li">
              <h3>Cover Letter</h3>
              <p>
                <li>Anderson Omoragbon</li>
                <li>Edmonton, AB</li>
                <li>AndoStudio@mail.com</li>
                <li>647-774-7013</li>
              </p>
            </div>
            <div>
              <h4>Dear Hiring Manager,</h4>
              <p>
                As a passionate cybersecurity student on the verge of completing
                my academic journey, I am excited to express my strong interest
                in joining your establisment as an IT professional. With an
                unwavering enthusiasm for technology and a hunger to make a
                meaningful impact in the IT field, I am eager to embark on a
                rewarding career path with a company that values and invests in
                the growth of fresh talent.
              </p>
              <p>
                Throughout my academic pursuits, I have immersed myself in the
                complexities of cybersecurity, gaining valuable insights into
                ethical hacking, network security, data protection and more.
                Now, I am seeking an opportunity to apply my theoretical
                knowledge in a professional setting to further expand my skills
                under the mentorship of experienced industry professionals.
              </p>
              <p>
                My eagerness to learn, strong work ethic, and passion for
                problem-solving are qualities that I bring to the table. I am a
                quick learner who can easily adapt well to new challenges. I
                also possess excellent teamwork and communication skills.
              </p>
              <p>
                If given the opportunity to contribute to your team, rest
                assured, I can offer fresh perspectives while maintaining a
                relentless drive to succeed. Together, we can secure a safer
                digital future and thrive in this fast-paced dynamic industry.
              </p>
              <div>
                <small>
                  Thank you for considering my application. I am eager to
                  discuss how my skills and passion align with your company's
                  vision and goals. Please find my attached resume for your
                  review.
                </small>
                <div>
                  <p>Sincerely,</p>
                  <p>Anderson Omoragbon</p>
                </div>
              </div>
            </div>
          </div>
          <hr />

          <section id="resume-section">
            <div class="resume-table">
              <div class="resume-table-header">
                <h3>Resume</h3>
                <a href="#resume-cover">Top</a>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
</main>

<%- include('../includes/footer.ejs') %>
