<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Explore the realm of cybersecurity with Anderson Omoragbon, a passionate specialist and student in this dynamic field. Discover insights, tips, and expert guidance to fortify your digital presence and safeguard against potential threats. Join us on a journey to secure a safer digital future."
    />
    <title>Ando Studio | <%= title %></title>
    <link rel="stylesheet" href="css/rootschem.css" />
    <link rel="stylesheet" href="css/nav.css" />
    <link rel="stylesheet" href="css/homepages.css" />
    <link rel="stylesheet" href="css/resume.css" />
    <link rel="stylesheet" href="css/about.css" />
    <link rel="stylesheet" href="css/footer.css" />
  </head>
  <body>
    <%- include('nav.ejs') %>
  </body>
</html>
