<nav class="nav-bar">
    <a href="/">
        <h1><span class="logo-A">A</span>ndo<span class="mark-span"><mark>Studio</mark></span></h1>
    </a>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="about">About</a></li>
        <li><a href="resume">Resume</a></li>
    </ul>
</nav>